<!DOCTYPE html>
<html>

<head>
    <script src="/javascripts/CV.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CV </title>
    <link rel="stylesheet" href="../public/stylesheets/CV.css">
</head>

<body onload="changeTitleContent()">
    <div id="title" , class="title">
        <h1><br>STAHV ZILCHA</h1>
    </div>


    <div class="grid-container">
        <div class="Education">Education</div>
        <div class="Occupational-Tried">Occupational Tried</div>
        <div class="Military-Service">Military Service</div>
        <div class="Volunteer-Work">Volunteer Work</div>

    </div>

    <div class="Contact Form">

        <form>
            <h2>Contact Form</h2>
            <label for="First_Name"> First Name : </label>
            <input type="text" id="First_Name" name="First_Name"> <br>
            <label for="Last_Name"> Last Name : </label>
            <input type="text" id="Last_Name" name="Last_Name"> <br>
            <label for="Phone_Number"> Phone Number : </label>
            <input type="text" id="Phone_Number" name="Phone_Number"> <br>
            <label for="Email"> E-Mail Address : </label>
            <input type="text" id="Email" name="Email"> <br><br>

            <div> <input type="Submit"></div><br>

        </form>
    </div>
</body>

</html>